
body {
    font-family: Verdana;
    background-color: rgb(169, 176, 179);
}
input {
    font-family: Verdana;
    background-color: rgb(200, 202, 204);
}
input.highlight:hover{
    background-color: rgb(255, 38, 0);
}
hr{
    border-radius: 50px;
    border-width: 3px;
    background-color: black;
    border-style: solid;
}
::placeholder{
    color: rgb(0, 0, 0);
    opacity: 1;
}
.drip{
    background-color: rgb(116, 83, 83);
    color: rgb(12, 12, 12);
}
textarea{
    background-color: rgb(173, 173, 231);
}
