table,
th,
td {
    border: 1px solid black;
}
th {
    background-color: rgb(143, 143, 248);
}
table {
    background-color: black;
}
#blank {
    color: rgb(224, 248, 90);
    background-color: rgb(224, 248, 90)
}
